.divProyect{
    width: 80%;
    // height: 20%;
    background: #E7DDD2;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 2%;
}
.divImgProyect{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.imgProyect{
    width: 80%;
    height: 10%;
    margin-top: auto;
    margin-bottom: auto;
}
.divdescrptionProyect{
    width: 60%;
    height: 100%;
}
.titleProyect{
    font-size: 2rem;
    color: #0162A7;
    text-align: center;
}
.contenido{
    width: 90%;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
}
.linksGitWeb{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.linkPage{
    width: 25px;
    height: 25px;
}
.liPage{
    color: black;
}
.linkWeb{
    width: 25px;
    height: 25px;
}
.liWeb{
    color: black;   
}
a:link, a:visited, a:active {
    text-decoration:none;
}