html, body{
    height:100%;
    margin:0;
    flex-direction: column;
}
.containerConocimientos{
    width: 100%;
    height: 100%;
}
.containerdescriptionConocimientos{
    width: 100%;
    height: 100%;
}
.containerTable{
    width: 100%;
    height: 100%;
}
table{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.imgGithub{
    width: 100%;
    height: 30%;
}
.imgReact{
    width: 100%;
    height: 30%;
}
.imgJavascript{
    width: 100%;
    height: 30%;
}
.imgHtml{
    width: 100%;
    height: 30%;
}
.imgNode{
    width: 100%;
    height: 30%;
}
.imgCss{
    width: 100%;
    height: 30%;
}
.imgSass{
    width: 100%;
    height: 30%;
}
.imgFirebase{
    width: 100%;
    height: 30%;
}
.imgGit{
    width: 100%;
    height: 30%;
}
.imgFigma{
    width: 100%;
    height: 30%;
}