html, body{
    height:100%;
    margin:0;
    flex-direction: column;
}
.divContacto{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}
.linkedin{
    width: 25px;
    height: 25px;
}