html, body{
    height:100%;
    margin:0;
    flex-direction: column;
}
.containerProyectos{
    width: 100%;
    height: 100%;
}
.contenedorDescriptionProyectos{
    width: 100%;
    height: 100%;
}